{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Course-View</title>
</head>
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <h4>Course Table</h4> 
                                <a style="margin-left: 85%;" class="btn btn-outline-primary float-left" href="{% url 'course_create' %}" type="button">
                                    Add Course
                                </a> 
                            </h4>
                            <div class="table-responsive">
                                {% for message in messages %}
                                <div style="color:rgb(1, 9, 119);" class="alert alert-success alert-dismissible" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Course Id</th>
                                            <th>Course Name</th>
                                            <th>Course Descriptiion </th>
                                            <th>Status</th>
                                            <th>Edit/Delete </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for course in courses%}
                                        <tr>
                                            
                                            <td>{{course.courseId}}</td>
                                            <td>{{course.courseName}}</td>
                                            <td>{{course.courseDescription}}</td> 
                                            <td>{{course.active}}</td>
                                            <td>
                                                <div>
                                                <a href="{% url 'course_update' course.courseId %}" type="button" class="btn btn-warning d-inline" style="padding: 6px;">
                                                   Edit 
                                                </a>
                                                
                                                
                                                
                                                
                                                <a href="{% url 'course_delete' course.courseId %}" type="button" class="btn btn-danger d-inline" style="padding: 6px;">
                                                   Delete 
                                                </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %} 
                                        
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="{% static 'js/jquery.js'%}"></script>
                <script src="{% static 'js/bootstrap.js'%}"></script>
                <script src="{% static 'js/popper.js'%}"></script>
</body>
</html>