{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createCourse</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{form | crispy }}
        <div class="container bg-dark text-white">
            <input class="btn btn-outline-success" type="submit" name="Register" value="Register">
        </div>


    </form>
    
</body>
</html>